html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 150px;
}

/* NAVBAR */
div[ng-view] {
    margin-top: 150px;
}
.container-fluid {
    margin-top: 180px;
}
.navbar {
    border: none;
    padding: 0 15px;
    background-color: #ffffff;
}
.navbar .container {
    width: 100%;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #000;
}
.navbar-brand {
    float:none;
    font-size: 120px;
}
.navbar .navbar-brand {
    font-family: 'Road Rage';
    color: #f573a0;
}
.navbar .navbar-brand:hover {
    color: #fae62d;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 150px;
    padding-top: 0;
}

/* OTHER */
img.padded {
    box-sizing: border-box;
    margin: 160px auto 160px;

    max-width: 700px;
}

a.face-fake-btn img {
    max-width: 400px;
}
a.face-fake-btn {
    display: inline-block;
    margin: 0 auto;
}
div.center {
    text-align: center;
    min-width: 500px;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  height: 150px;
  background-color: #f573a0;

  text-align: center;
}
.footer a {
    color: #000000;
    text-decoration: none;
    font-size: 80px;

    display: inline-block;
    line-height: 150px;
    height: 150px;
    padding-top: 5px;
    margin-right: 190px;
}
.footer a.divider {
    position: relative;
    top: -12px;
}
.footer a:last-child {
    margin-right: 0;
}

/* CONCERT */

.concert .row {
    padding: 0 35px;
}
.concert h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -20px;
}
.concert p {
    margin-top: 40px;
    font-size: 35px;
    padding: 0 35px;
}
.concert img {
    padding: 0px 20px;
    margin-top: 30px;
}
.concert .rating {
    font-size: 70px;
    text-align: right;
    margin-top: 55px;
    margin-right: 10px;
}
.concert .rating span {
    margin-left: 10px;
}
