html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 180px 0;
}

/* NAVBAR */
div[ng-view] {
    margin-top: 150px;
}
.container-fluid {
    margin-top: 180px;
}
.navbar {
    border: none;
    padding: 0 15px;
    background-color: #ffffff;
}
.navbar .container {
    width: 100%;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid #000;
}
.navbar-brand {
    float:none;
    font-size: 120px;
}
.navbar .navbar-brand {
    font-family: 'Road Rage';
    color: #f573a0;
}
.navbar .navbar-brand:hover {
    color: #000000;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 150px;
    padding-top: 0;
}

/* OTHER */
img.padded {
    box-sizing: border-box;
    margin: 160px auto 160px;

    max-width: 700px;
}

a.face-fake-btn img {
    max-width: 400px;
}
a.face-fake-btn {
    display: inline-block;
    margin: 0 auto;
}
div.center {
    text-align: center;
    min-width: 500px;
}

/* FOOTER */

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  height: 150px;
  background-color: #f573a0;

  text-align: center;
}
.footer a {
    color: #000000;
    text-decoration: none;
    font-size: 80px;

    display: inline-block;
    line-height: 150px;
    height: 150px;
    padding-top: 5px;
    margin-right: 190px;
}
.footer a.divider {
    position: relative;
    top: -12px;
}
.footer a:last-child {
    margin-right: 0;
}
.footer a:hover {
    color: #ffffff;
}

/* CONCERT */

.concert .row {
    padding: 0 35px;
}
.concert h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -20px;
}
.concert p {
    margin-top: 40px;
    font-size: 38px;
    font-style: italic;
    padding: 0 35px;
}
.concert img {
    padding: 0px 20px;
    margin-top: 30px;
}
.concert .rating {
    font-size: 70px;
    text-align: right;
    margin-top: 55px;
    margin-right: 10px;
}
.concert .rating span {
    margin-left: 10px;
}

/* PROFILE */
.profile, .home {
    margin-top: 210px;
    width: 100%;
    padding: 0 35px;
    box-sizing: border-box;
}
.profile .info h1 {
    font-size: 90px;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 10px;
}
.profile .info h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: -20px;
}
.profile .info h2:last-child {
    margin-bottom: 0px;
}
.profile .info img {
    width: 100%;
}

.profile .friends {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding: 35px 0;
    margin: 35px 0;
}
.profile .friends h2 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.profile .friends div:first-child {
    border-right: 2px solid #000000;
}

.profile .container.concerts {
    width: 800px;
}
.profile .concert, .home .concert {
    margin-top: 40px;
}
.profile .concert:first-of-type, .home .concert:first-of-type {
    margin-top: 0;
}
.profile .concert img, .home .concert img {
    width: 100%;
    padding: 0;
    margin: 0;
}
.profile .concert h1:first-child, .home .concert h1:first-child {
    margin-top: 5px;
}
.home .concert h1 {
    margin-top: 15px;
}
.home .concert h2 {
    margin: 25px 0 5px;
    font-size: 30px;
}
.profile .concert .rating {
    margin-top: 30px;
    text-align: left;
    margin-right: 0;
}
.home .concert .rating {
    margin-top: 0px;
    text-align: left;
    margin-right: 0;
}

/**/
a[href="concert"] {
    color: #000000;
}
