<ng-include src="'app/templates/nav.html'"></ng-include>
<div class="container-fluid concert">
    <img ng-src="{{concert.image_url}}" class="img-responsive">
    <div class="row">
    	<div class="col-sm-6">
    		<h1>{{concert.artist.name}}</h1>
    		<h1>{{concert.venue.name}}</h1>
    		<h1>by {{concert.user.name}} <small>{{concert.date}}</small></h1>
	    </div>
	    <div class="col-sm-6">
	    	<div class="rating">
	    		<span class="glyphicon glyphicon-star" ng-repeat="n in [] | range:concert.rating"/><span class="glyphicon glyphicon-star-empty" ng-repeat="n in [] | range:(5-concert.rating)"/>
	    	</div>
	    </div>
    </div>
    <p class="description">{{concert.description}}</p>
</div>
<footer class="footer">
    <div class="container">
        <a href="concert"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        <a class="divider">&nbsp;|&nbsp;</a>
        <a href="concert"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
    </div>
</footer>
