<ng-include src="'app/templates/nav.html'"></ng-include>
<div class="container profile">
	<div class="row info">
		<div class="col-sm-4">
			<img ng-src="{{user.image_url}}">
		</div>
		<div class="col-sm-8">
			<h1>{{user.first_name}} {{user.surname}}</h1>
			<h2>{{user.concert_count}} concerts</h2>
			<h2>{{user.friend_count}} friends</h2>
		</div>
	</div>
	<div class="row friends">
		<div class="col-sm-6">
			<h2>my friends</h2>
		</div>
		<div class="col-sm-6">
			<h2>find friends</h2>
		</div>
	</div>
	<div class="container concerts">
		<div class="row concert" ng-repeat="concert in user.concerts">
			<a href="concert">
				<div class="col-sm-5">
					<img class="img-responsive" ng-src="{{concert.image_url}}">
				</div>
				<div class="col-sm-7">
					<h1>{{concert.name}}</h1>
					<h1>{{concert.venue.name}}</h1>
					<h1>{{concert.date}}</h1>
					<div class="rating">
						<span class="glyphicon glyphicon-star" ng-repeat="n in [] | range:concert.rating"/><span class="glyphicon glyphicon-star-empty" ng-repeat="n in [] | range:(5-concert.rating)"/>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<a href="home"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		<a class="divider">&nbsp;|&nbsp;</a>
		<a href="settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
	</div>
</footer>
