<ng-include src="'app/templates/nav.html'"></ng-include>
<div class="container home">
	<div class="row concert" ng-repeat="concert in concerts">
		<a href="concert/{{concert.user.first_name}}/{{$index}}">
			<div class="col-sm-4">
				<img class="img-responsive" ng-src="{{concert.image_url}}">
			</div>
			<div class="col-sm-8">
				<h1>{{ concert.artist.name }}</h1>
				<h1>{{ concert.venue.name }}</h1>
				<h1>by {{ concert.user.first_name }}</h1>
				<h2>{{ concert.date }}</h2>
				<div class="rating">
		    		<span class="glyphicon glyphicon-star" ng-repeat="n in [] | range:concert.rating"/><span class="glyphicon glyphicon-star-empty" ng-repeat="n in [] | range:(5-concert.rating)"/>
		    	</div>
			</div>
		</a>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<a href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
		<a href="addconcert"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
		<a href="profile"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></a>
	</div>
</footer>
