<ng-include src="'app/templates/nav.html'"></ng-include>
<div class="container-fluid addconcert">
	<div class="row search">
		<span class="glyphicon glyphicon-search" />
		<input type="text" name="" placeholder="search for a concert">
	</div>
	<div class="row photo">
		<div class="center-block square">
			<div class="center-block circle">
				<span class="glyphicon glyphicon-plus"/>
			</div>
		</div>
	</div>
	<div class="row rating">
		<span class="glyphicon glyphicon-star-empty" />
		<span class="glyphicon glyphicon-star-empty" />
		<span class="glyphicon glyphicon-star-empty" />
		<span class="glyphicon glyphicon-star-empty" />
		<span class="glyphicon glyphicon-star-empty" />
	</div>
	<div class="row freetext">
		<textarea placeholder="what made it special?"></textarea>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<a href="home"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
		<a class="divider">&nbsp;|&nbsp;</a>
		<a href="#"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
	</div>
</footer>
